@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override Next.js default styles */
body {
  background-color: #0a121f !important;
  color: #f2f4f7 !important;
}

main:has(.next-error-h1) div:last-of-type {
  max-height: calc(100vh - 12.5rem);
}

.next-error-h1 {
  border-right: 1px solid #f2f4f7 !important;
}

/* Custom utilities  */
.c-bg-dark-blue {
  background-color: #111e38;
}

.c-bg-tangaroa {
  background-color: rgb(27, 37, 58);
}

.c-text-shadow {
  text-shadow: 0px -1px 18px rgba(0, 0, 0, 1);
}

.home-gradient {
  background-image:
    linear-gradient(rgba(8, 18, 31, 0), rgba(8, 18, 31, 0), rgba(8, 18, 31, 0.2), rgb(8, 18, 31)),
    linear-gradient(to right, rgb(8, 18, 31) 0%, rgba(4, 120, 194, 0.1) 50%, rgba(136, 32, 51, 0) 80%, rgb(8, 18, 31) 100%)
}

@media screen and (max-width: 640px) {
  .home-hero:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
}

.game-gradient {
  background-image:
    linear-gradient(0deg, rgb(8, 18, 31) 20%, rgba(8, 18, 31, 0.6)),
    linear-gradient(90deg, rgb(8, 18, 31) 0%, rgba(4, 120, 194, 0) 10%, rgba(136, 32, 51, 0) 90%, rgb(8, 18, 31) 100%);
}

.screenshot-1 {
  grid-area: 1 / 1 / 4 / 7;
}

.screenshot-2 {
  grid-area: 1 / 7 / 4 / 13;
}

.screenshot-3 {
  grid-area: 4 / 1 / 6 / 5;
}

.screenshot-4 {
  grid-area: 4 / 5 / 6 / 9;
}

.screenshot-5 {
  grid-area: 4 / 9 / 6 / 13;
}

@media screen and (min-width: 1024px) {
  .screenshot-1 {
    grid-area: 1 / 1 / 3 / 5;
  }

  .screenshot-2 {
    grid-area: 1 / 5 / 2 / 7;
  }

  .screenshot-3 {
    grid-area: 1 / 7 / 2 / 9;
  }

  .screenshot-4 {
    grid-area: 2 / 5 / 3 / 7;
  }

  .screenshot-5 {
    grid-area: 2 / 7 / 3 / 9;
  }
}